h1 { font-size: 2.4rem;
    color: red;
    font-weight: bold;
    

}

h2 { font-size: 1.8rem;
    color: red;
    text-decoration: underline;
    font-weight: bold;

}

p { font-size: 1.2rem;



}


img {
    border-style: dotted;
    border-color: red;
    border-width: 1px;
}